# 分发账户
wax_account: excample_account_main

# 分发账户的私钥
private_key: null

# wax节点链接,默认使用第一个节点
rpc_domain_list:
 - https://api.wax.alohaeos.com
 - https://wax.dapplica.io
 - https://api.waxsweden.org
 - https://wax.pink.gg
 - https://wax.eosphere.io
 - https://api.wax.greeneosio.com
 - https://wax.cryptolions.io
rpc_domain: https://wax.eosphere.io


to_accounts:
 - excample_account_001: 10
 - excample_account_001: 100


